body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('/assets/images/bi.jpg');
    
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }