body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("/assets/images/bi.jpg");
  background-color: #1f1e1e; /* Sötét háttér */
  color: #fff; /* Fehér szöveg */
  min-height: 100vh;
}
